<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60581155187-aahvpnsavs32tn77ijk1e63a9v8qhoq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60581155187-aahvpnsavs32tn77ijk1e63a9v8qhoq0</string>
	<key>API_KEY</key>
	<string>AIzaSyAtL0NS3VIkx6jgl98FSn_J5NioGH5PwLc</string>
	<key>GCM_SENDER_ID</key>
	<string>60581155187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.renterall.app</string>
	<key>PROJECT_ID</key>
	<string>renterall-8224c</string>
	<key>STORAGE_BUCKET</key>
	<string>renterall-8224c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60581155187:ios:047562d0fb5b07d2a43506</string>
</dict>
</plist>